<%- include("templates/header") %>
<h3>Users</h3>
<br />
<% let i=0; %> 
<% for(i=0; i < users.length; i++) { %> 
  <%- include('templates/user', {user: users[i]}) %> 
  <br>
  <br>
<% } %> 
<%- include("templates/footer") %>
