<%- include("templates/header") %>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-7 text-body-emphasis" style="padding-bottom: 50px">
    Purrfect! You've found your way to our cat haven.
  </h1>
  <img class="image-fluid mb-5" src="/hero_cat.gif" style="width: 250px" />
  <div class="col-lg-6 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <form action="/signup" method="get">
        <button type="submit" class="btn btn-primary btn-sm px-4 gap-3">
          Sign up
        </button>
      </form>
      <form action="/login" method="get">
        <button type="submit" class="btn btn-secondary btn-sm px-4">
          Sign in
        </button>
      </form>
    </div>
  </div>
</div>
<%- include("templates/footer") %>
