<%= user.username %> (<%= user.user_type %>)
<form action="/promote" method="post" style="display: inline">
  <input type="hidden" name="username" value="<%= user.username %>" />
  <button type="submit" class="btn btn-sm btn-danger rounded-pill">
    Promote to Admin
  </button>
</form>
<form action="/demote" method="post" style="display: inline">
  <input type="hidden" name="username" value="<%= user.username %>" />
  <button type="submit" class="btn btn-sm btn-success rounded-pill">
    Demote to User
  </button>
</form>
